:root {
    --color: rgb(150, 150, 150);
    --color-R: 150;
    --color-G: 150;
    --color-B: 150;

    --text-color: rgb(0, 0, 0);
}

html {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    overflow-x: hidden;
}

textarea {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--color);
    margin: 0px;
    padding: 0px;
}

table {
    overflow: scroll;
    display: block;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

table::-webkit-scrollbar {
    display: none;
}

th {
    text-align: left;
    padding-left: 12px;
}

td {
    padding-left: 12px;

}

button,
input {
    font-size: 18px;

}

button,
input,
label,
p,
select,
h3 {
    color: var(--text-color);

}


button:active {
    box-shadow: inset var(--active-shadow-distance) var(--active-shadow-distance) var(--active-shadow-blur) rgb(calc(var(--color-R) - var(--active-shadow-intesity)),
            calc(var(--color-G) - var(--active-shadow-intesity)),
            calc(var(--color-B) - var(--active-shadow-intesity))),
        inset calc(var(--active-shadow-distance) * -1) calc(var(--active-shadow-distance) * -1) var(--active-shadow-blur) rgb(calc(var(--color-R) + var(--active-shadow-intesity)),
            calc(var(--color-G) + var(--active-shadow-intesity)),
            calc(var(--color-B) + var(--active-shadow-intesity))) !important;
}

.selected {
    background-color: rgba(0, 0, 0, 0.25);
}